name: release

on:
  push:
    tags:
      - "v[0-9]*.[0-9]*.[0-9]*"

env:
  CARGO_TERM_COLOR: always

jobs:
  release:
    name: Publish Release ${{ github.ref_name }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - name: Install Stable Rust Toolchain
        uses: dtolnay/rust-toolchain@stable
      - id: parse-tag
        name: Verify tag matches cargo manifest
        run: |
          VERSION=$(cargo read-manifest --manifest-path aliri_braid/Cargo.toml | jq -r .version)
          if [ "${{ github.ref_name }}" != "v${VERSION}" ]; then
            echo "::error::Tag name ${{ github.ref_name }} doesn't match the version in Cargo.toml (${VERSION})";
            exit 1;
          fi
        shell: bash
      - name: Publish Rust crate
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
          CARGO_PUBLISH_TIMEOUT: '0'
        run: |
          cargo publish -p aliri_braid_impl
          cargo publish -p aliri_braid
          cargo publish -p aliri_braid_examples
        shell: bash
